<h2>Reservation Confirmed</h2>

<p>Hello <b>{{name}}</b></p>

<p>Your reservation has been successfully received.</p>

<ul>
  <li><b>Date:</b> {{dateTime}}</li>
  <li><b>Message:</b> {{message}}</li>
</ul>

<p>We look forward to serving you.</p>